body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
h3{
    font-size: 25px;
}
h4{
    font-size: 25px;
}

.orange-color{
    color: orange;

}
p{
    padding-bottom: 10px;
}

section{
    display: flex;
}

.half-width{
    width: 50%;
    padding: 2%;
}

.half-width img{
    width: 80%;
}

.link-button{
    color: white;
    font-weight: bold;
    text-decoration: none;
    background-image: linear-gradient(#FA6D5A,#F88667);
    padding: 10px 40px;
    border-radius: 25px;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

h4{
    font-size: ;
}